body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

canvas {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
    background-color: #fff;
    cursor: crosshair;
}

.controls {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-col{
    display: flex;
    margin-top: 34px;
    justify-content: center;
}

label, input{
    margin: -12px 10px;
    cursor: pointer;
}


.bt-col{
    display: flex;
    margin-top: 34px;
    justify-content: center;
}

button {
    margin: 9px 12px;
    padding: 10px 15px;
    cursor: pointer;
    flex: 1 1 106px;
    max-width: calc(52% - 26px);
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .container {
        rotate: 89.2deg;
        width: 101%;
    }

    button {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .container {
        rotate: 89.2deg;
        width: 100%;
    }

    button {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
